/*  */
body{
  background-color: #cedbe6;
} 

.center {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: rgb(58, 107, 197);
}

h2 {
  font-size: 2rem;
  color: blueviolet;
}

.big-title {
  font-family: cursive;
}

.margin-50 {
   margin-top: 1rem;
   margin-bottom: 2rem;
}

img {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  height: auto;
}
